.item-list-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.item-list-container h2 {
  font-size: 3rem;
  color: #333; 
  text-align: center; 
}

.product-item {
  text-align: center;
  padding: 20px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.product-image {
  width: 200px;  /* Tamaño adecuado para las imágenes */
  height: auto;
  margin-bottom: 10px;
}
