.item-list-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.item-list-container h2 {
  font-size: 3rem;
  color: #333; 
  text-align: center; 
}
